    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Us</h2>
                <p>"Empowering your data-driven transformation.We specialize in the full data lifecycle, offering end-to-end solutions from data engineering and ETL pipeline creation to advanced analytics and interactive visualizations. Our team, comprised of seasoned professionals from the prestigious IIT Kanpur, leverages Power Platform and cutting-edge technologies like Azure Databricks and DBT to provide impactful insights and data-driven strategies."</p>  
                <h4>Project Portfolio link : <a href="https://bhavk26.github.io/Portfolio/"> Link </a> </h4>
            </div>
        </div>
    </section>
