    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I completed my graduation from <a href="https://www.iitk.ac.in/">IIT-Kanpur</a> in 2019 and am a <a href="https://dst.gov.in/scientific-programmes/scientific-engineering-research/kishore-vaigyanik-protsahan-yojana-kvpy/">KVPY scholar</a>.</p>  
                <p> Being a highly Adaptive , Dedicated and Empathetic person I bring a blend of technical expertise and interpersonal skills to every professional endeavour.</p>
                <p>I carry 2.25+ professional experience having worked in domains varying from Software Engineering to Data Analytics / Engineering to Product</p>
                <p>My Technical Skillset includes: Python, SQL, Java, SQL & NoSQL Database , Data Modelling (Dimensional & Relational), Data Warehousing, Microsoft Power BI, DAX, Data Visualisation </p>
                <p>I also carry decent fundamental understanding of Lakehuse architecture (Ex. Delta Lake), Distributed computing (Spark) </p>
            </div>
        </div>
    </section>
