    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Resume</h2>
                    <h4>Link</h4>
                    <h5><a href="https://drive.google.com/file/d/1F7I0loOB6EGoV9C_xiWhp8Tf5VywnNYs/view" class="btn btn-default btn-lg">Resume</a></h5>
                </div>
            </div>
        </div>
    </section>
